* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.nav_bar {
  background-image: linear-gradient(to right, #56915d, #A0c3a3);
  /* border-right: 3px solid #333333; */
  height: 100vh;
  width: 30vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 125px;
}

.nav_image {
  border-radius: 50%;
  width: 60%;
}

.header {
  font-size: 3rem;
}

.nav_intro {
  color: #F6F2D4;
  margin: 50px 25px 25px;
  line-height: 5rem;
}

.nav_links {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.nav_link {
  text-decoration: none;
  color: #F6F2D4;
  line-height: 4rem;
}

main {
  margin-left: 30%;
  padding: 0 50px;
  background-color: #A0c3a3;
}

hr {
  height: 2px;
  border-top: 1px solid #eeeeee;
}

.about_me {
  font-size: 1.25rem;
  padding: 50px 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333333;
  line-height: 2.5rem;
}

.welcome_title {
  margin: 25px 0;
  font-size: 2.5rem;
}

@keyframes title {
  0% {color: #333333};
  25% {color: #F6F2D4};
  100% {color: #333333};
}

.my_name {
  font-size: 4rem;
  color: #F6F2D4;
  animation-name: title;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.welcome_message {
  margin: 25px;
  z-index: 2;
}

.background_circle_1 {
  background-image: linear-gradient(to bottom right, #F6F2D4, #A0c3a3);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  right: 10%;
  z-index: 1;
}

.background_circle_2 {
  background-image: linear-gradient(to top left, #F6F2D4, #A0c3a3);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 1;
}

.background_circle_3 {
  background-image: linear-gradient(to bottom left, #F6F2D4, #A0c3a3);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  right: 40%;
  z-index: 1;
}

.projects {
  height: 100vh;
  /* padding: 50px 0; */
  /* margin: 0 100px 0 0; */
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects_list {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: space-evenly; */
}

.list_1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.list_2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.project_card {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 25px 50px;
  position: relative;
}

.card_1 {
  background-image: linear-gradient(to bottom left, #F6F2D4, #A0c3a3);
  /* left: -100px; */
}

.card_2 {
  background-image: linear-gradient(to top right, #F6F2D4, #A0c3a3);
  /* top: -250px;
  left: 450px; */
}

.card_3 {
  background-image: linear-gradient(to bottom right, #F6F2D4, #A0c3a3);
  /* top: -350px;
  left: 100px; */
}

.card_4 {
  background-image: linear-gradient(to bottom right, #F6F2D4, #A0c3a3);
  /* top: -650px;
  left: 750px; */
}

.project_card:hover {
  transform: scale(0.95);
}

.project_links {
  color: #333333;
  font-size: 2rem;
  margin: 10px;
}

.icon_link {
  color: #333333;
  text-decoration: none;
  margin: 5px;
}

.icon_link:hover {
  transform: scale(1.5);
}

.fas:hover, .fab:hover, .far:hover {
  transform: scale(1.5);
}

.project_card_image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 20px;
}

.contact_me {
  color:#555555;
  padding: 50px 0;
  text-align: center;
  height: 100vh;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_message {
  background-image: linear-gradient(to bottom right, #F6F2D4, #A0c3a3);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_icons {
  margin: 10px;
  font-size: 5rem;
}

.contact_icon_link {
  color: #555555;
}

.contact_icon_link:hover {
  color: #333333;
  transform: scale(2);
}