* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.nav_bar {
  background-image: linear-gradient(to right, #56915d, #A0c3a3);
  /* border-right: 3px solid #333333; */
  height: 100vh;
  width: 30vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 125px;
}

.nav_image {
  border-radius: 50%;
  width: 60%;
}

.nav_intro {
  color: #F6F2D4;
  margin: 50px 25px;
  line-height: 5rem;
}

.nav_links {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.nav_link {
  text-decoration: none;
  color: #F6F2D4;
  line-height: 4rem;
}

main {
  margin-left: 30%;
  padding: 0 50px;
  background-color: #A0c3a3;
}

hr {
  height: 2px;
  border-top: 1px solid #eeeeee;
}

.about_me {
  font-size: 1.25rem;
  padding: 50px 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333333;
  line-height: 2.5rem;
}

.welcome_title {
  margin: 25px 0;
  font-size: 2.5rem;
}

.welcome_message {
  margin: 25px;
}

.projects {
  height: 100vh;
  padding: 50px 0;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_card {
  height: 100px;
  border: 3px solid #555555;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}

.project_card:hover {
  transform: scale(0.99);
}

.card_link {
  display: flex;
  align-items: center;
  color: #333333;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.project_card_image {
  height: 80px;
  width: 80px;
  margin-right: 50px;
}

.contact_me {
  color:#555555;
  padding: 50px 0;
  text-align: center;
  height: 100vh;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_icons {
  margin: 10px;
  font-size: 5rem;
}

.contact_icon_link {
  color: #555555;
}

.contact_icon_link:hover {
  color: #333333;
  transform: scale(2);
}